<ion-header>
  <ion-toolbar>
    <ion-title>
      E-KTP
    </ion-title>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card bg-content">
    <ion-card-header>
      <ion-card-title color="primary">Aplikasi Pendataan E-KTP sekitaran Kecamatan Kabanjahe menjelang pemilu  </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Terimakasih telah menggunakan Aplikasi ini ~ <br>
        Aplikasi ini digunakan untuk pendataan warga sekitaran Kecamatan Kabanjahe untuk menyambut pemilu.
        Semoga Aplikasi ini membantu anda 
      </p>

  
        
    </ion-card-content>
  </ion-card>
  </ion-content>